[submodule "symlinks/vim/bundle/vim-airline"]
	path = symlinks/vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "symlinks/vim/bundle/vim-airline-themes"]
	path = symlinks/vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "symlinks/vim/bundle/vim-plist"]
	path = symlinks/vim/bundle/vim-plist
	url = https://github.com/darfink/vim-plistb
